* {
    outline: none;
}

#map {
    /* width: 68%;  */
    /* width: 100%;  */
    width: 55%; 
    height: 700px; 
    /* height: 400px;  */
    align-self: start; 
    /* margin: auto;  */
} 

.hive-attr,
.hive-rest {
    width: 60%;
    /* height: 500px; */
    /* margin-top: 50px; */
    margin: 50px auto;
}

.khonsu-data {
	margin: 50px auto;
}

.khonsu-data.hive.hide {
    display: none;
}

.hive-list {
    overflow: auto;
    height: 500px;  
}

.hive-list .hive-item {
    padding: 10px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: 0; 
}

.hive-list .hive-item:not(.hide):nth-child(odd) {
    background-color: rgba(0,0,0,0.1); 
}

.hive-list .hive-item:hover { 
    background-color: gray !important;
    color: white; 
}

.hive-list .hive-item.active { 
    background-color: #a9a0a0;
    color: white; 
    font-style: italic;
}

.hive-list .hive-item.hide {
    display: none;
}

.toggle-hive-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.inline {
    /* display: inline; */
}

.hive-fieldsets {
    display: flex;
    font-size: 0.8em; 
} 

.hive-fieldsets .hive-filter-wrapper-fieldset {
    height: fit-content;
    display: flex;
} 

.toggle-hive-filters-wrapper.hide {
    display: none;
}

.hive-filters {
    margin-top: 50px;
}   

.location-row {
    margin-bottom: 5px;
}

.location-title {
    font-weight: bold; 
}

.location-review-pic img {
    width: 50px; 
}

.location-reviews .view-reviews {
    cursor: pointer;
    margin-bottom: 5px;
}

.location-reviews .view-reviews-text {
    border: 1px solid; 
    border-top: none;
    border-left: none;
    border-right: none;
    width: fit-content; 
}

.location-reviews .reviews-list.hide {
    display: none;
}

.location-reviews .reviews-list .review-data {
    margin: 10px 5px; 
}

.location-reviews .reviews-list .review-data-row {
    margin: 2px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -1px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 2px; 
}

.average-rating {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 25px;
}

.average-rating::before {
    --percent: calc(4.3/5*100%);
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.data-type-select {
    /* margin-top: 50px; */
    padding: 5px;
    width: 200px;
}

.section.hide {
    display: none;
}

